---
services:
  zot:
    image: ghcr.io/project-zot/zot:latest
    ports:
      - "9000:9000"
    volumes:
      - ./hack/tests/zot.config.json:/etc/zot/config.json:ro
    command: ["serve", "/etc/zot/config.json"]

  tpa:
    build:
      context: .
      dockerfile: hack/tests/Containerfile.tpa
    ports:
      - "8080:8080"

  minio:
    image: "quay.io/minio/minio:latest"
    ports:
      - "9900:9900"
      - "9901:9901"  # Web UI
    command: ["server", "--address", ":9900", "--console-address", ":9901", "/data"]
    environment:
      MINIO_ROOT_USER: minioAccessKey
      MINIO_ROOT_PASSWORD: minioSecretKey

  createbuckets:
    image: quay.io/minio/mc:latest
    depends_on:
      - minio
    restart: on-failure
    entrypoint: >
      /bin/sh -c "
      until mc alias set minio http://minio:9900 minioAccessKey minioSecretKey; do sleep 1; done;
      until mc mb minio/sboms; do sleep 1; done;
      echo "Created buckets";
      exit 0;
      "
